:root {
  --blue900: #0B0D17;
  --blue300: #D0D6F9;
  --white: #FFFFFF;

  --fp-1-2-3-4-font-family: (var(--font-bellefair));
  --fp-1-2-3-4-6-9-letterSpacing: 0px;
  --fp-1-size: 7.125rem;
  --fp-2-size: 6.25rem;
  --fp-3-size: 3.5rem;
  --fp-4-size: 2rem;
  --fp-5-7-8-font-family: (var(--font-barlow_condensed));
  --fp-5-size: 1.75rem;
  --fp-5-letterSpacing: 4px;
  --fp-6-size: 1.75rem;
  --fp-7-size: 0.875rem;
  --fp-7-8-letterSpacing: 2px;
  --fp-8-size: 1rem;
  --fp-9-font-family: (var(--font-barlow-regular));
  --fp-9-size: 1.125;

}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
ul{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}


html,
body {
  max-width: 100vw;

}




a {
  color: inherit;
  text-decoration: none;
}
